* {
	color: darkred;
	box-sizing: border-box;
}

#header-nav {
	background-color: #BA55D3;
	border: 2px solid black;
	border-radius: 0;
}

.navbar-brand a {
	color: black;
	font-size: 20px;
	padding: 0 20px 0 20px;
	margin: 0;
	font-weight: bold;
}
.navbar-brand {
	color: chartreuse;
	font-size: 18px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #800000;
}
.navbar-header button.navbar-toggle {
	margin-top: 10px;
}
h1, h3, a {
	font-family: serif;
	font-weight: bold;
	text-shadow: 1px 2px 1px chartreuse;
	color: #cd853f;

	}
h3 {
	padding-top: 10px;
}
h1 {
	font-size: 27px;
}

hr {
	border-color: #000;
}

div ul li{
	font-size: 20px;
	color: green;
}
.navbar-header div ul li a{
	color: red;
}
section {
	margin: 15px;
	background-color: #BA55D3;
	padding: 0 20px 0 20px;
}

a:hover, a:focus{
text-shadow: 2px 3px 4px darkorchid;
text-decoration: none;
}

div p {
	font-size: 12px;
	font-family: serif;
}
.container-fluid div h3 {
	font-weight: bold;
}
